<a href="https://colab.research.google.com/github/subshr4/subshr4/blob/main/Exam1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exam 1

Subani Shrestha

CPSMA 4313

1) 

(from code box number 1 to 6)

 Firstly, I gathered the table on 8000 km mountains from the wikipedia page (List of mountain by elevation) by importing pandas, importing requests that is going to gather the raw html, and BeautifulSoup that will help to parse the code. Then I used read_html command and passed it to pandas to get a proper table.



https://github.com/nurfnick/Data_Viz/blob/main/08_html.ipynb


https://github.com/subshr4/subshr4/blob/main/quiz9.ipynb

In [9]:
import requests
import pandas as pa
from bs4 import BeautifulSoup

In [10]:
r = requests.get('https://en.wikipedia.org/wiki/List_of_mountains_by_elevation')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")

In [11]:
html_soup.table

<table class="wikitable sortable">
<tbody><tr>
<th>Mountain</th>
<th>Metres</th>
<th>Feet</th>
<th>Range</th>
<th>Location and Notes
</th></tr>
<tr>
<td><a href="/wiki/Mount_Everest" title="Mount Everest">Mount Everest</a></td>
<td>8,848</td>
<td>29,029</td>
<td>Himalayas  </td>
<td><a href="/wiki/Geography_of_Nepal" title="Geography of Nepal">Nepal</a>/China
</td></tr>
<tr>
<td><a href="/wiki/K2" title="K2">K2</a></td>
<td>8,611</td>
<td>28,251</td>
<td>Karakoram  </td>
<td>Pakistan/China
</td></tr>
<tr>
<td><a href="/wiki/Kangchenjunga" title="Kangchenjunga">Kangchenjunga</a></td>
<td>8,586</td>
<td>28,169</td>
<td>Himalayas  </td>
<td>Nepal/India
</td></tr>
<tr>
<td><a href="/wiki/Lhotse" title="Lhotse">Lhotse</a></td>
<td>8,516</td>
<td>27,940</td>
<td>Himalayas  </td>
<td>Nepal<small> – Climbers ascend Lhotse Face in climbing Everest</small>
</td></tr>
<tr>
<td><a href="/wiki/Makalu" title="Makalu">Makalu</a></td>
<td>8,485</td>
<td>27,838</td>
<td>Himalayas  </td>
<td>Nepal
</td></tr>
<tr>
<td><a href="/wiki/Cho_Oyu" title="Cho Oyu">Cho Oyu</a></td>
<td>8,188</td>
<td>26,864</td>
<td>Himalayas  </td>
<td>Nepal<small> – Considered "easiest" eight-thousander</small>
</td></tr>
<tr>
<td><a href="/wiki/Dhaulagiri" title="Dhaulagiri">Dhaulagiri</a></td>
<td>8,167</td>
<td>26,795</td>
<td>Himalayas  </td>
<td>Nepal<small> – Presumed world's highest from 1808-1838</small>
</td></tr>
<tr>
<td><a href="/wiki/Manaslu" title="Manaslu">Manaslu</a></td>
<td>8,163</td>
<td>26,781</td>
<td>Himalayas  </td>
<td>Nepal
</td></tr>
<tr>
<td><a href="/wiki/Nanga_Parbat" title="Nanga Parbat">Nanga Parbat</a></td>
<td>8,126</td>
<td>26,660</td>
<td>Himalayas  </td>
<td>Pakistan
</td></tr>
<tr>
<td><a href="/wiki/Annapurna" title="Annapurna">Annapurna</a></td>
<td>8,091</td>
<td>26,545</td>
<td>Himalayas  </td>
<td>Nepal<small> – First eight-thousander to be climbed (1950)</small>
</td></tr>
<tr>
<td><a href="/wiki/Gasherbrum_I" title="Gasherbrum I">Gasherbrum I</a> (Hidden peak; K5)</td>
<td>8,080</td>
<td>26,509</td>
<td>Karakoram  </td>
<td>Pakistan /China<small> – Originally named K5</small>
</td></tr>
<tr>
<td><a href="/wiki/Broad_Peak" title="Broad Peak">Broad Peak</a></td>
<td>8,051</td>
<td>26,414</td>
<td>Karakoram  </td>
<td>Pakistan /China
</td></tr>
<tr>
<td><a href="/wiki/Gasherbrum_II" title="Gasherbrum II">Gasherbrum II</a> (K4)</td>
<td>8,035</td>
<td>26,362</td>
<td>Karakoram  </td>
<td>Pakistan/China<small> – Originally named K4</small>
</td></tr>
<tr>
<td><a href="/wiki/Shishapangma" title="Shishapangma">Shishapangma</a></td>
<td>8,027</td>
<td>26,335</td>
<td>Himalayas  </td>
<td>China
</td></tr></tbody></table>

In [12]:
tables = html_soup.find_all('table',class_="wikitable")
tables[0].find_all('a')

[<a href="/wiki/Mount_Everest" title="Mount Everest">Mount Everest</a>,
 <a href="/wiki/Geography_of_Nepal" title="Geography of Nepal">Nepal</a>,
 <a href="/wiki/K2" title="K2">K2</a>,
 <a href="/wiki/Kangchenjunga" title="Kangchenjunga">Kangchenjunga</a>,
 <a href="/wiki/Lhotse" title="Lhotse">Lhotse</a>,
 <a href="/wiki/Makalu" title="Makalu">Makalu</a>,
 <a href="/wiki/Cho_Oyu" title="Cho Oyu">Cho Oyu</a>,
 <a href="/wiki/Dhaulagiri" title="Dhaulagiri">Dhaulagiri</a>,
 <a href="/wiki/Manaslu" title="Manaslu">Manaslu</a>,
 <a href="/wiki/Nanga_Parbat" title="Nanga Parbat">Nanga Parbat</a>,
 <a href="/wiki/Annapurna" title="Annapurna">Annapurna</a>,
 <a href="/wiki/Gasherbrum_I" title="Gasherbrum I">Gasherbrum I</a>,
 <a href="/wiki/Broad_Peak" title="Broad Peak">Broad Peak</a>,
 <a href="/wiki/Gasherbrum_II" title="Gasherbrum II">Gasherbrum II</a>,
 <a href="/wiki/Shishapangma" title="Shishapangma">Shishapangma</a>]

In [13]:
df = pa.read_html(str(tables))[0]
df

                          Mountain  ...                                 Location and Notes
0                    Mount Everest  ...                                        Nepal/China
1                               K2  ...                                     Pakistan/China
2                    Kangchenjunga  ...                                        Nepal/India
3                           Lhotse  ...  Nepal – Climbers ascend Lhotse Face in climbin...
4                           Makalu  ...                                              Nepal
5                          Cho Oyu  ...      Nepal – Considered "easiest" eight-thousander
6                       Dhaulagiri  ...    Nepal – Presumed world's highest from 1808-1838
7                          Manaslu  ...                                              Nepal
8                     Nanga Parbat  ...                                           Pakistan
9                        Annapurna  ...  Nepal – First eight-thousander to be climbed (...
10  Gasherbrum I (Hidden peak; K5)  ...              Pakistan /China – Originally named K5
11                      Broad Peak  ...                                    Pakistan /China
12              Gasherbrum II (K4)  ...               Pakistan/China – Originally named K4
13                    Shishapangma  ...                                              China

[14 rows x 5 columns]