<a href="https://colab.research.google.com/github/subshr4/subshr4/blob/main/quiz17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Subani Shrestha

Grab the iris dataset. Answer the following questions:

Does converting SepalLength to integer increase or decrease the mean?


Does the direction of the shift remain the same if you groupby Class?


Gather the mean, median, count and standard deviation of all columns when grouped by Class.

1) 

Firstly, I imported pandas and used read_csv function to read the iris data.

In [4]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')

df.head(7)

   SepalLength  SepalWidth  PedalLength  PedalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa

The mean of sepalLength is 5.8433.

In [13]:
df.SepalLength.mean()

5.843333333333335

Here, I am converting SepalLength to integer by using .astype(int) function. So, converting converting SepalLength to integer decreases the mean.

In [14]:
df.SepalLength.astype('int').mean()

5.386666666666667

2)

When grouped by class it provides the mean but when grouped by class as an integer it doesn't provide any mean.

In [15]:
df.groupby('Class').agg('mean')

                 SepalLength  SepalWidth  PedalLength  PedalWidth
Class
Iris-setosa            5.006       3.418        1.464       0.244
Iris-versicolor        5.936       2.770        4.260       1.326
Iris-virginica         6.588       2.974        5.552       2.026

In [17]:
df.groupby('Class').astype('int').agg('mean')

AttributeError: ignored

3)

The mean, median, count and standard deviation of all columns when grouped by Class are:

In [7]:
df.groupby('Class').agg(['mean','median','count', 'std'])

                SepalLength               ... PedalWidth
                       mean median count  ...     median count       std
Class                                     ...
Iris-setosa           5.006    5.0    50  ...        0.2    50  0.107210
Iris-versicolor       5.936    5.9    50  ...        1.3    50  0.197753
Iris-virginica        6.588    6.5    50  ...        2.0    50  0.274650

[3 rows x 16 columns]