<a href="https://colab.research.google.com/github/subshr4/subshr4/blob/main/Quizz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Subani Shrestha**

Firstly, I created my Google Cloud account, then imported authorization by pasting the link here through my google account.

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

 I created a new project (My First project) in the BigQuery. It's id is linear-skill-339004 which I have used to navigate to the dataset 'austin_bikeshare.bikeshare_trips'. Here Count function is used to get the total number of entries in the dataset.

In [8]:
%%bigquery --project linear-skill-339004
SELECT 
  COUNT(*) as total_entries
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_entries
0        1424786

Here, I used MAX function to get the longest trip from duration minute from austin_bikeshare daraset.

In [9]:
%%bigquery --project linear-skill-339004
SELECT 
   MAX(duration_minutes) as longest_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   longest_trip
0         34238

Here, I used AVG function to get the average time for a trip from austin_bikeshare dataset.

In [10]:
%%bigquery --project linear-skill-339004
SELECT 
   AVG(duration_minutes) as average_time
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   average_time
0     30.870428