<a href="https://colab.research.google.com/github/subshr4/subshr4/blob/main/quiz13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Subani Shrestha

Using the banks dataset retrieved from UCI Machine Learning Repo but also accessible here. Explore the following questions:

Here, I imported pandas and used read_csv command to read the csv of bank.

In [3]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv')

df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

What is the data type of the first column? Should you change it or is that the best data type.

I used df.dtypes to get the datatype of age. It's datatype is integer. In my view for age integer is the best datatype as age is always in positive number which is also an integer.

In [7]:
df.dtypes.age

dtype('int64')


The second column is job could you assign an order to this string? Could you assign an order the the fourth column education. If yes, what order would you assign? Do so.

In [11]:
df.education.unique()

['primary', 'secondary', 'tertiary', 'unknown']
Categories (4, object): ['primary', 'secondary', 'tertiary', 'unknown']

Here the fourth column is education and its categories are primary, secondary, tertiary, and unknown. Yes, I can assign an order for education column.

In [13]:
from pandas.api.types import CategoricalDtype


cat_type = CategoricalDtype(categories=['primary', 'secondary', "tertiary",'unknown'], ordered=True)

dfeducation = df.education.astype(cat_type)

dfeducation.dtype

CategoricalDtype(categories=['primary', 'secondary', 'tertiary', 'unknown'], ordered=True)

In [14]:
(df.education == 'primary').dtype

dtype('bool')

In [16]:
df[df.education == 'primary'].head(6)

    age          job   marital education  ... pdays  previous poutcome    y
0    30   unemployed   married   primary  ...    -1         0  unknown   no
9    43     services   married   primary  ...   147         2  failure   no
18   25  blue-collar    single   primary  ...    -1         0  unknown   no
26   55  blue-collar   married   primary  ...    -1         0  unknown   no
36   78      retired  divorced   primary  ...    -1         0  unknown  yes
46   55  blue-collar   married   primary  ...     5         2    other   no

[6 rows x 17 columns]