<a href="https://colab.research.google.com/github/subshr4/subshr4/blob/main/Quizz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Subani Shrestha

1.Here I am importing pandas library as pd

In [ ]:
import pandas as pd

2. Adding Iris data set by using read_csv function

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')
df

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

3. Here, using the code dataframe.colum to get the column names.

In [ ]:
df.columns

Index(['SepalLength', 'SepalWidth', 'PedalLength', 'PedalWidth', 'Class'], dtype='object')

4. Mean for SepalLength column by using mean function:

In [ ]:
df.SepalLength.mean

<bound method Series.mean of 0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLength, Length: 150, dtype: float64>

5. As head is used to get the first row, siimilarly tail with (1) is used here to get the last row.

In [ ]:
df.tail(1)

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
149          5.9         3.0          5.1         1.8  Iris-virginica

6. 
Here, I'm using melt function, id_vars which remains entact, value_vars that is the list of columns to be displayed in a melted dataset, and var_name that is the name of a new variable column which holds the reshaped data values.

In [ ]:
df_melt = df.melt(id_vars="Class", value_vars=['SepalLength', 'SepalWidth'], var_name='columns')
df_melt

              Class      columns  value
0       Iris-setosa  SepalLength    5.1
1       Iris-setosa  SepalLength    4.9
2       Iris-setosa  SepalLength    4.7
3       Iris-setosa  SepalLength    4.6
4       Iris-setosa  SepalLength    5.0
..              ...          ...    ...
295  Iris-virginica   SepalWidth    3.0
296  Iris-virginica   SepalWidth    2.5
297  Iris-virginica   SepalWidth    3.0
298  Iris-virginica   SepalWidth    3.4
299  Iris-virginica   SepalWidth    3.0

[300 rows x 3 columns]


7. Here, using loc function to access group of values from the dataset based on the provided value that have pedal length greater than 5 and sepal length less than 7.

In [ ]:
df.loc[(dataFrame['PedalLength'] > 5) & dataFrame['SepalLength'] < 7]

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

8. Grouping the data by type by using groupby function and also computing mean and median by using mean and median function.

In [ ]:
df.groupby(by ='Class').agg(['mean'],['median'])

                SepalLength SepalWidth PedalLength PedalWidth
                       mean       mean        mean       mean
Class
Iris-setosa           5.006      3.418       1.464      0.244
Iris-versicolor       5.936      2.770       4.260      1.326
Iris-virginica        6.588      2.974       5.552      2.026