<a href="https://colab.research.google.com/github/subshr4/subshr4/blob/main/Quizz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Subani Shrestha**

1. Firstly, I created my Google Cloud account, then imported authorization by pasting the link here through my google account.

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

 2. I created a new project (My First project) in the BigQuery. It's id is linear-skill-339004 which I have used to navigate to the dataset 'austin_bikeshare.bikeshare_trips'.

In [13]:
%%bigquery --project linear-skill-339004
SELECT *
  FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

            trip_id  ... duration_minutes
0        9900289692  ...               39
1        9900285987  ...               31
2        9900285989  ...               31
3        9900285991  ...               30
4        9900286140  ...               19
...             ...  ...              ...
1424781    23536417  ...               63
1424782    22837019  ...               68
1424783    20400249  ...               58
1424784    23184844  ...               40
1424785    23184851  ...               40

[1424786 rows x 9 columns]

3. Here Count function is used to get the total number of entries in the dataset.

In [14]:
%%bigquery --project linear-skill-339004
SELECT 
  COUNT(*) as total_entries
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_entries
0        1424786

4. Here, I used MAX function to get the longest trip from duration minute from austin_bikeshare daraset.

In [ ]:
%%bigquery --project linear-skill-339004
SELECT 
   MAX(duration_minutes) as longest_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   longest_trip
0         34238

5. Here, I used AVG function to get the average time for a trip from austin_bikeshare dataset.

In [ ]:
%%bigquery --project linear-skill-339004
SELECT 
   AVG(duration_minutes) as average_time
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   average_time
0     30.870428